body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.ui.container {

}

//HOME PAGE
#home {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("https://wallpaperset.com/w/full/8/e/a/359256.jpg") no-repeat center;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #979797;
    opacity: .3;
    z-index: 0 ;
  }

  > * {
    color: white;
    z-index: 10;
  }

  .huge {
    font-family: "Kalam", cursive;
    font-size: 80px;
  }

  .tiny {
    font-style: italic;
    margin: 0 0 50px;
  }

  button {
    font-weight: 600;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border: 2px solid #db2828;
    border-radius: 5px;
    cursor: pointer;
    background: #db2828;

    &:hover {
      background: #d01919;
      color: white;
      border: 2px solid #d00a0a;
    }
  }

}

//MAIN MENU
.ui.menu {
  position: relative;
}

.ui.menu:first-child {
  box-shadow: 0 1px 3px 0 #0b0bb9, 0 0 0 1px #f5007c !important;
  margin-top: 30px !important;
  margin-bottom: 0;

  > a .item:first-child {
    font-family: 'Kalam', cursive;
  }
}


// SORT MENU
.ui.menu.secondary {
  box-shadow: 0 5px 10px 0 #f7f7f7c9;
  border-radius: 10px;
  margin: 0;
  padding: 5px;

  * {
    text-transform: lowercase;
  }

  > div.item {
    margin-left: auto;
  }
}


// CARDS PLATE
.cards {
  padding: 50px !important;

  .ui.segment {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: none;
  }
}

// ORDERING

.ui.steps {
  display: flex;
  margin-top: 30px;
}


//MEDIA ALL
@media screen and (max-width: 1200px) {
  .ui.five.cards > .card {
    width: calc(25% - 1.5em);

    img {
      height: 260px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .ui.five.cards > .card {
    width: calc(33% - 1.5em);

    img {
      height: 260px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .ui.five.cards > .card {
    width: calc(33% - 1.5em);

    img {
      height: 260px !important;
    }
  }
}

