body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

//MAIN MENU
.ui.menu {
  position: relative;
}

.ui.menu:first-child {
  box-shadow: 0 1px 3px 0 #0b0bb9, 0 0 0 1px #f5007c !important;
  margin-top: 30px !important;
  margin-bottom: 0;

  > a .item:first-child {
    font-family: 'Kalam', cursive;
  }
}


// SORT MENU
.ui.menu.secondary {
  box-shadow: 0 5px 10px 0 #f7f7f7c9;
  border-radius: 10px;
  margin: 0;
  padding: 5px;

  * {
    text-transform: lowercase;
  }

  > div.item {
    margin-left: auto;
  }
}


// CARDS PLATE
.cards {
  padding: 50px !important;

  .ui.segment {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: none;
  }
}

//MEDIA ALL
@media screen and (max-width: 1200px) {
  .ui.five.cards > .card {
    width: calc(25% - 1.5em);

    img {
      height: 260px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .ui.five.cards > .card {
    width: calc(33% - 1.5em);

    img {
      height: 260px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .ui.five.cards > .card {
    width: calc(33% - 1.5em);

    img {
      height: 260px !important;
    }
  }
}

